.profile{
    width: 50px;
    height: 50px;
    color: #d0033d;
}

.social{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 40px;  
}

.facebook{
    width           : 80px;
    height          : 80px;
    color           :white;
}

.facebook:hover{
    color: #3b5998;
}

.twitter{
    width: 80px;
    height: 80px;
    color: white;
}

.twitter:hover{
    color: black;
}

.instagram{
    width: 80px;
    height: 80px;
    color: White;
}

.instagram:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-radius: 80px;
      
}

.youtube{
    width: 80px;
    height: 80px;
    color: white;
}

.youtube:hover{
    color: red;
}

.apple{
    width: 60px;
    height: 60px;
}

.google{
    width: 60px;
    height: 60px;
}

.apple:hover, .google:hover{
    color: white;
}

.pago{
    width: 60px;
    height: 60px;
    color: white;
}

.pago:hover{
    color:rgb(21, 36, 165);
}