*{
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
}

.containerHead{
    width: 100%;
}

.header-video{
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.header-video video{
    min-width: 100%;
    min-height: 100%;
    filter: grayscale(60%);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 90%;
    height: 570px;
    margin-left: 5%;
}

.imageHead{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 3%;
    overflow: hidden;
    z-index: 2;
}

.header-overlay{
    width: 100%;
    height: 600px;
    position: absolute;
    background-color: rgba(192, 192, 192, 0.041);
    z-index: 1;
}

.extraBlur{
    width: 70%;
    height: 265px;
    margin-left: 20%;
    margin-bottom: 38px;
    position: absolute;
    z-index: 2;
    background-color: rgba(37, 37, 37, 0.178);
    filter: blur(3px);
    border-radius: 10px;
}

.infoHead{
    margin-left: 10px;
    width: 90%;
    z-index: 3;
    margin-bottom: 3%;
}

.titleMovie{
    margin: 20px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.infoHead p{
    text-align: justify;
    font-size: 30px;
    margin: 20px;
    display: block;
    color: white;
}