*{
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-size: 80%;
    background-image: 
        linear-gradient(
            rgba( 255, 255, 255, 0.5),
            rgba( 255, 255, 255, 0.5)
        )
        ,url(../../images/Cinemex_Logo_Vertical.png);
    background-repeat: no-repeat;
    background-position: center;
}

.general{
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;    
}

.title{
    color: #d0033d;
    font-size: xx-large;
    margin-top: 2%;
    font-weight: bold;
}

p{
    font-size: 20px;
}