@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../../images/images_usuario/background.jpg);
}

div{
    display: inline-block;
    margin-left: 2%;
}

.peliculas{
    border-radius: 10px;
    width: 243px;
    height: 366px;
    margin-top: 7px;
}

.header{
    box-shadow: 0 5px 40px -5px;
    display: block;
    border-radius: 100px;
    background-color: #fff;
    height: 74px;
    width: 903px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 18px;
}

.peliculas:hover{
    transform: translateY(-3%);
    transition: all 500ms ease;
}

.titulo{
    padding-top: 5px;
    color: #000;
    font-size: 312%;
}
